@media screen and (min-width: 300px){
  
  .perfil-usuario-text-on-perfil{
    margin-right: 34%;
  }
  .publicar-perfil{
    width: 107px;
    height: 9px;
    left: 1263px;
    top: 151px;
    font-family: Roboto;font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: right;color: #434242;
  }

 .container-Perfils-new{
        display: none;
   }
   
}

@media screen and (min-width: 1000px){

    .publicar-perfil{
        width: 107px;
        height: 9px;
        left: 1263px;
        top: 151px;
        font-family: Roboto;font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        text-align: right;color: #434242;
    }


    .container-publicar-perfil{
        position: absolute;
        padding-bottom: 2%;
        border-bottom: 0.5px solid #C4CDD5;
        width: 62%;
        display: flex;
        height: fit-content;
        margin-top: 8%;
        margin-left: 34%;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -0.02em;
        color: #212B36;
    }
    .perfil-usuario-text-on-perfil{
        margin-right: 65%;
    }
}
