@media screen and(min-width:300px){
    .item{
      width: 100% !important ;
      height: 300px !important;
    }
    .index-galery{
        position: absolute;
        margin-top: 15%;
        margin-left: 50%;
    }
    .photos-state{
        height: 100% !important;
        width: 100% !important;
    }
    .container-image-show{
        display: block;
        height: 269px;
        width: 127px;
    }
}
@media screen and(min-width: 1000px){
    .carousel-control{
        position: relative !important;
    }
    .carousel-indicators{
        position: relative !important;
        margin-left: 0% !important;
        left: 0% !important;
        /* width: auto; */
        width: 100% !important;
        /* justify-content: center; */
        display: flex;
        justify-content: center;

        //left: 40% !important;
        //margin-top: 8% !important;
       // margin-left: 0% !important;
       // display: inline-flex;
       // justify-content: space-around;
    }

    .container-biografia-perfil{
        height: 14%;
        text-align: center;
        margin-top: 7%;
        position: absolute;
        margin-left: 42%;
        width: 39%;
    }
    .index-galery{
        position: absolute;
        margin-top: 15%;
        margin-left: 40%;
        width: 41%;
    }
    .photos-state{
        height: 100% !important;
        width: 100% !important;
    }
    .container-index-states-photos{
        margin-top: 14%;
    }
   // .container-photos-states{
   //     display: flex;
   //     justify-content: space-between;
   // }
    .subtitle-state{
        height: 60px;
    }

    .index-image-carrucel-container{
        display: inline-flex;
    }
    .container-carrucel{
        width: 41%;
        margin-top: 40%;
        margin-left: 40%;
        display: inline-flex;
        justify-content: center;
    }
    .back-image-carrucel{
        margin-right: 5px;
    }

    .index-states{
        width: auto !important;
        height: auto !important;
        margin-right: 5px !important;
        border-top-style: solid; 
        border: 1px solid #EE4380;
        box-sizing: border-box;
        border-radius: 59%;
        padding: 2px;
        padding-left: 3px;
        background-color: white !important;

    }
}