@media screen and(min-width:300px){
    .item{
      width: 100% !important ;
      height: 300px !important;
    }
    .index-galery{
        position: absolute;
        margin-top: 15%;
        margin-left: 50%;
    }
    .photos-state{
        height: 100% !important;
        width: 100% !important;
    }
    .container-image-show{
        display: block;
        height: 269px;
        width: 127px;
    }
}
@media screen and(min-width: 1000px){

    .carousel-control{
        position: relative !important;
    }
    .carousel-indicators{
        position: relative !important;
        margin-left: 0% !important;
        left: 0% !important;
        width: 100% !important;
        display: flex;
        justify-content: center;
    }

    .container-biografia-perfil{
        height: 14%;
        text-align: center;
        margin-top: 7%;
        position: absolute;
        margin-left: 42%;
        width: 39%;
    }
    .index-galery{
        position: absolute;
        margin-top: 15%;
        margin-left: 40%;
        width: 41%;
    }
    .photos-state{
        height: 100% !important;
        width: 100% !important;
    }
    .container-index-states-photos{
        margin-top: 14%;
    }
    .subtitle-state{
        height: 60px;
    }

    .index-image-carrucel-container{
        display: inline-flex;
    }
    .container-carrucel{
        width: 41%;
        margin-top: 40%;
        margin-left: 40%;
        display: inline-flex;
        justify-content: center;
    }
    .back-image-carrucel{
        margin-right: 5px;
    }

    .index-states{
        width: auto !important;
        height: auto !important;
        margin-right: 5px !important;
        border-top-style: solid; 
        border: 1px solid #EE4380;
        box-sizing: border-box;
        border-radius: 59%;
        padding: 2px;
        padding-left: 3px;
        background-color: white !important;

    }   
    .index-thanks{
        padding: 2%;
       // position: absolute;
        margin-top: 15%;
        margin-left: 40%;
        width: 41%;
    }
    .container-carrucel-states{
    width: 41%;
    margin-top: 3%;
    margin-left: 40%;
    display: inline-flex;
    justify-content: center;
    }
    .link-thanks-new{
        width: 150px;
        height: 50px;
        text-align: center;
        padding-top: 20px;
        background-color: #EE4380;
        margin-left: 55%;
        margin-bottom: 28px;
    }
    .link-thank-new-color{
        position: relative;
        color: white;
    }
    #mark-index-states{
      background-color: #EE4380 !important;
      color: white;
    }
    #mark-index-thanks{
        background-color: #EE4380 !important;
        color: white;
    }
    .name-thank{
        margin-right: 72%;
        color: black;
    }
    .value-coffes-or-hug-thank{
        height: 21px;
        text-align: center;
        width: 35px;
        border-top-style: solid;
        border: 1px solid #EE4380;
        box-sizing: border-box;
        border-radius: 59%;}
    .container-thanks-image-thank{
        display: flex;
    }
    .message-thanks{
        height: 90px;
        overflow: scroll;
    }
}