@media screen and(min-width: 300px){
  .container-publicar-perfil{
    display: none;
  }
}
@media screen and(min-width: 1000px){
    .container-Perfils-new{
        position: absolute;
        width: 100%;
        height: -webkit-fill-available;
        margin-top: 61px;
        display:  inline-flex !important;
    }
        .nav-perfil-images-cuentas{
            width: 26%;
            border-right: 0.5px solid #C4CDD5;
            text-align: center;
            padding-top: 4%;
    }
}