@media screen and (min-width:300px){
    .ABC_movile{
        border-radius: 5px;
        margin-top: 10%;
        margin-left: 10%;
        background-color: #EE4380;
        width: 26%;
        color: white;
        text-align: center;
        padding-top: 2%;
    }
    .container_link_movile_nav{
        margin-left: 10%;
        margin-top: 10%;
    }
    .link_movile_nav{
        width: -webkit-fill-available;
        color: #434242;
        text-decoration: none;
    }
    .class_movile{
        display: none;
        height: 100%;
        width: 80%;
        position: fixed;
        background-color: white;
        border-radius: 5px;
    }
    #exit-menu-movile{
        position: absolute;
        margin-left: 80%;
        margin-top: 10%;
    }
    .container_link_movile_nav:hover{

    }
}