<div>
    <nav class="nav-HugsAndCoffe">
        <div class="logoAB">
            <p class="p-logoAb">A&B</p>
        </div>
        <a href="" class="login">Login</a>
    </nav>

    <div class="center-home">
    <div class="image"><%= image_tag 'coffees.png' %></div>
    
        <p class="lema">
         Un café es un abrazo atrapado en una taza
          <br>
          <spam class="lema2">Recibe aprecio y gratitud mediante donaciones online</spam>
        </p>

        <div class="div-CrearMiPerfil">
            <a href="/perfils/new" class="create-perfil-home">Crear mi Perfil</a>
       </div>
    </div>


    <div class="footer-home-hugsAndCoffe">
      <p class="footer-lema">
       Un perfil dedicado a recibir agradecimientos
      </p> 
       <p class="text-footer-home-information">
      Puedes crear una página en minutos sin conocimientos técnicos.
       Muestra tus datos y agradecimientos recibidos de otras personas.
      </p>
    
    <div class="container-images">
    <div class="image-footer-show-image1"><%= image_tag 'pink_profile.jpg'%></div>
    <div class="image-footer-show-image2"><%= image_tag 'pink_profile(1).jpg' %></div>
    <div class="image-footer-show-image3"><%= image_tag 'pink_profile(2).jpg' %></div>
    </div>


    </div>

</div>