<div>
<nav class="nav-create-usuario">
        <div class="logoAB-profile">
            <p class="p-logoAb">A&B</p>
        </div>

        <div class="profile">
            <div class="image-profile">
               
            </div>

            <h1 class="name-user">angel Gonzalez</h1>
        </div>
    </nav>
 <div class="container-Perfils-new">

     <div class="nav-perfil-imanes-cuentas">
     
      <div>
       <%= image_tag 'icon.svg'%>  <a href="/perfils/new">Perfil</a>
      </div>
      <br>
      <div>
        <%= image_tag 'icon.png' %> <a href="/galeries">Imagenes</a>
      </div>
      <br>
      <div>
       <%= image_tag 'iconCuentas.svg' %> <a href="/bank_accounts">Cuentas</a>
      </div>
     <br>
 </div>

    <div class="container-list-account">
     <h1>Listado de Imagenes</h1>

     <div class="addAccount">
        <a href="/galeries/new" style="    
        text-decoration: none;
        color: white;
        font-size: 26px">Crear</a>
     </div>

    </div>
   <%@galery.each do |photos|%>
   
        <div class="container-images-galeries">
            <div class="image-galeries">
             <%= image_tag "#{photos}" %>
            </div>
        </div>
    <%end%>  
</div>