<div>
<nav class="nav-create-usuario">
        <div class="logoAB-profile">
            <p class="p-logoAb">A&B</p>
        </div>

        <div class="profile">
            <div class="image-profile">
               
            </div>

            <h1 class="name-user">angel Gonzalez</h1>
        </div>
    </nav>
 <div class="container-Perfils-new">

     <div class="nav-perfil-imanes-cuentas">
     
      <div>
       <%= image_tag 'icon.svg'%>  <a href="/perfils/new">Perfil</a>
      </div>
      <br>
      <div>
        <%= image_tag 'icon.png' %> <a href="/galeries">Imagenes</a>
      </div>
      <br>
      <div>
       <%= image_tag 'iconCuentas.svg' %> <a href="/bank_accounts">Cuentas</a>
      </div>
     <br>
 </div>
  <div   style="
    position: absolute;
    margin-left: 33%;
    width: 63%;
    height: 31px;
    margin-top: 1%;
    border-bottom: inset;">
    <p>Crear Imagen</p>
  </div>

  <div style="
    position: absolute;
    margin-top: 7%;
    margin-left: 31%;">
   <h1>Subtitulo</h1>
   <p>Agrega un subtitulo que otorgue vida a tu imagen.</p>
  </div>
  
  <div style="
    position: absolute;
    margin-top: 17%;
    width: 28%;
    margin-left: 31%;">
      <h1>Imagen</h1>
      <p>Comparte imagenes que conecten con las personas y muestren a que te dedicas.</p>
  
  </div>
  <%= render partial: 'form_galeries', layout:'form_galeries' %>
</div>