// Place all the styles related to the galeries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container-galery-image-new{
    padding: 11px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 0px 0px rgba(63, 63, 68, 0.05);
    border-radius: 5px;
}
.container-subtitle-image{
    margin-bottom: 19px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 0px 0px rgba(63, 63, 68, 0.05);
    border-radius: 5px;
    height: 79px;
    padding: 11px;
}
.new-photo-galeries{
    position: absolute;
    margin-left: 62%;
    margin-top: 5%;
    width: 35%;
}
.image-index-galeries{
 
}
.container-images-galeries{
    padding: 2%;
    display: flex;
    position: absolute;
    margin-left: 29%;
    width: 67%;
    flex-wrap: wrap;
    height: max-content;

    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 0px 0px rgba(63, 63, 68, 0.05);
    border-radius: 5px;
    margin-top: 14%;
}
.image-galeries{
    margin-left: 10px;
    margin-top: 9px;
    margin-right: 10px;
    width: 140px;
    height: 107px;
    /*background-color: black;*/
    margin-bottom: 11px;
}