@media screen and (min-width: 300px){
    .container-list-account-index{
        border-bottom: inset;
        width: 85%;
        margin-left: 10%;
        padding-bottom: 2%;
    }

    .h1-list-image-text{
      margin-top: 27%;
      margin-left: 11%;
      padding-bottom: 13%;
      width: 59%;
    }
    .addAccount-index{
       /* position: absolute;*/
        margin-left: 7%;
        margin-top: -10%;
        width: 79px;
        text-align: center;
        border-radius: 5px;
        /* border-bottom: inset;*/
    }

    .crear-text-a{
        text-decoration: none;
        color: white;
        font-size: 26px;
        background: #EE4380;
        border-radius: 5px;
    }
    .container-images-galeries{
      /*  position: absolute;*/
        margin-top: 9%;
        margin-left: 24%;
        width: 55%;
        padding: 1%;
        display: flex;
        height: max-content;
        flex-wrap: wrap;
        background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 0px 0px rgba(63, 63, 68, 0.05);
        border-radius: 5px;
    }
    .image-galeries{
        width: 157px;  
        height: 157px;
        margin: 10px;
    }
}
@media screen and (min-width: 700px){
    .container-images-galeries{
        position: absolute;
        margin-top: 24%;
        margin-left: 27%;
        width: 55%;
        padding: 1%;
        display: flex;
        height: max-content;
        flex-wrap: wrap;
        background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 0px 0px rgba(63, 63, 68, 0.05);
        border-radius: 5px;
    }
    .container-list-account-index{
        border-bottom: none;
        position: absolute;
        width: 63%;
        margin-top: 6%;
        margin-left: 30%;
    }
    .h1-list-image-text{
        position: absolute; 
        margin-left: 0%;
        margin-top: 18%;
        padding-bottom: 2%;
        width: 81%;
        border-bottom: inset;
    }
    .addAccount-index{
        position: absolute;
        margin-top: 14%;
        margin-left: 65%;
        height: 55px;
        box-sizing: border-box;
        border-radius: 5px;
        text-decoration: none;
        color: white;
        font-size: 26px;
        padding-top: 8px;
        padding-top: 8px;
        padding-left: 14px;
        width: 13%;
    }
}
@media screen and (min-width: 1000px){    
    .addAccount-index{
        margin-left: 65%;
        height: 55px;
        /* background: #EE4380; */
        /* border: 1px solid #EE4380; */
        box-sizing: border-box;
        border-radius: 5px;
        text-decoration: none;
        color: white;
        font-size: 26px;
        padding-top: 8px;
        padding-top: 8px;
        padding-left: 14px;
        width: 13%;
    }
.container-list-account-index{
    position: absolute;
    width: 63%;
    margin-top: 6%;
    margin-left: 30%;
}
.addAccount-index{
    margin-top: 1%;    
    margin-left: 79%;
    height: 55px;
    box-sizing: border-box;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 26px;
    padding-top: 8px;
    padding-top: 8px;
    padding-left: 14px;
    width: 13%;
}
.h1-list-image-text{
    margin-left: 18%;
    margin-top: 3%;
    padding-bottom: 2%;
    width: 75%;
}
.crear-text-a{
    text-decoration: none;
    color: white;
    font-size: 26px;
    background: #EE4380;
    border-radius: 5px;
}
.container-images-galeries{
    position: absolute;
    margin-top: 16%;
    margin-left: 38%;
    width: 55%;
    padding: 1%;
    display: flex;
    height: max-content;
    flex-wrap: wrap;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 0px 0px rgba(63, 63, 68, 0.05);
    border-radius: 5px;
}
.image-galeries{
    width: 157px;  
    margin: 10px;
}

}