@media screen and (min-width: 300px){
    .logoAB-galeries{
        background-color: #EE4380;
        width: 100%;
        color: white;
        text-align: center;
        padding-top: 2%;
    }
    .new-photo-galeries{
        position: absolute;
        margin: 18%;
        margin-top: 55%;
    }
.dz-success-mark{
    display: none;
}
.dz-error-mark{
    display: none;
}
    .container-subtitle-image{
        padding-bottom: 5%;
        padding-left: 3%;
        padding-right: 3%;
        background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 0px 0px rgba(63, 63, 68, 0.05);
        border-radius: 5px;
    }
    .input-subtitle{
        background: #FFFFFF;
        border: 1px solid #C4CDD5;
        box-sizing: border-box;
        border-radius: 4px;
    }
    .container-galery-image-new{
        margin-top: 30%;
        box-shadow: 4px 4px 4px rgba(63, 63, 68, 0.15), 0px 0px 0px rgba(63, 63, 68, 0.05);
        border-radius: 5px;
    }
    .form-image-container-galeries{
        padding: 5%;
    }
    .message-flash{
        position: absolute;
        margin-top: 7%;
        margin-left: 5%;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: lime;


        padding-left: 20px;
        padding-right: 20px;
    }
    .red-flash{
        background-color: red;
        color: white;
    }
}
@media screen and (min-width:400px){
    .message-flash{
        margin-top: 0%;
        margin-left: 13%;
    }
}
@media screen and (min-width:500px){
    .message-flash{
        margin-left: 19%;
    }
}
@media screen and (min-width:600px){
    .message-flash{
        margin-left: 21%;
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media screen and (min-width:800px){
    .message-flash{
        margin-left: 28%;
    }
}
@media screen and (min-width:1000px){
        .logoAB-galeries{
        background-color: #EE4380;
        width: 100%;
        color: white;
        text-align: center;
        padding-top: 2%;
    }
    .message-flash{
        margin-top: 7%;
        margin-left: 33%;
        padding-left: 128px;
        padding-right: 128px;

    }
    .new-photo-galeries{
        position: absolute;
        margin: 18%;
        margin-top: 55%;
    }

    .container-subtitle-image{
        padding-bottom: 5%;
        padding-left: 3%;
        padding-right: 3%;
        background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 0px 0px rgba(63, 63, 68, 0.05);
        border-radius: 5px;
    }
    .input-subtitle{
        background: #FFFFFF;
        border: 1px solid #C4CDD5;
        box-sizing: border-box;
        border-radius: 4px;
    }
    .new-photo-galeries{
        position: absolute;
        margin-top: 16%;
        margin-left: 66%;
        padding: 1%;
    }
}
@media screen and(min-width:1200px){
    .message-flash{
        margin-left: 44%;
    }
}
@media screen and(min-width:2000px){
    .message-flash{
        margin-left: 48%;
    }
}