@media screen and (min-width: 305px){
    .logoAB-galeries{
        background-color: #EE4380;
        width: 100%;
        color: white;
        text-align: center;
        padding-top: 2%;
    }
    .new-photo-galeries{
        position: absolute;
        margin: 18%;
        margin-top: 55%;
    }

    .container-subtitle-image{
        padding-bottom: 5%;
        padding-left: 3%;
        padding-right: 3%;
        background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 0px 0px rgba(63, 63, 68, 0.05);
        border-radius: 5px;
    }
    .input-subtitle{
        background: #FFFFFF;
        border: 1px solid #C4CDD5;
        box-sizing: border-box;
        border-radius: 4px;
    }
    .container-galery-image-new{
        margin-top: 30%;
    }
    .form-image-container-galeries{
        padding-left: 12%;
    }
}
@media screen and (min-width: 1000px){
    .new-photo-galeries{
        position: absolute;
        margin-top: 16%;
        margin-left: 66%;
        padding: 1%;
    }
}