@media screen and(min-width:700px){
.all-accounts{    
    width: 100%;
}
.td-accounts-index{    
    margin-right: 20px;
    width: max-content;

}
.index-accounts-banks{
    width: 56%;
    position: absolute;
    margin-top: 12%;
    margin-left: 39%;
}
.container-list-account{    
    position: absolute;
    margin-left: 38%;
    display: inline-flex;
    margin-top: 6%;
    width: 57%;
    border-bottom: inset;
    padding-bottom: 1%;
}

.addAccount{    
    margin-left: 65%;
    height: 55px;
    background: #EE4380;
    border: 1px solid #EE4380;
    box-sizing: border-box;
    border-radius: 5px;

    text-decoration: none;
    color: white;
    font-size: 26px;
    padding-top: 8px;
    padding-top: 8px;
    padding-left: 14px;
    width: 13%;
}
.null-accounts-banks{

}
}