
<div class="nav_show_perfil_logout">
      <div class="container-dates-user-logout-nav">
            <div class="image-profile-logout">  
              s
            </div>

            <div class="name-and-ocupation">
             <h1 class="date-user-logout"><p class="full-name-date">NOSE DIME TU</p></h1>
             <h2 class="ocupation"> ocupacion</h2>

          
            </div>
            
              <div class="logoAB-logout">
                <p class="p-logoAb">A&B</p>
              </div>
  

      </div>
</div>
