
<div class="nav_show_perfil_logout">
      <div class="container-dates-user-logout-nav">
           
           <% if Perfil.find_by(id:params[:id]).image.attached? %>
              <%=image_tag(Perfil.find_by(id:params[:id]).image, :class=>"image-profile-logout")  %>
           <% else %>
              <%=image_tag('user_picture.jpeg' )%>
           <% end %>
            
            <div class="name-and-ocupation">
             <h1 class="date-user-logout">
             <%=Perfil.find_by(id:params[:id]).full_name%>
             </h1>
             <h2 class="ocupation">Ocupacion: <%=Perfil.find_by(id:params[:id]).ocupacion%></h2>
            </div>
              <div class="logoAB-logout">
                <p class="p-logoAb">A&B</p>
              </div>
      </div>
</div>
