<div data-context="perfil--nav">

 <%if user_signed_in? && current_user.id == Perfil.find_by(id:params[:id]).id  %>
    <%=render partial: 'perfil_signed', layout: 'perfil_signed'%>
 <%else%>
    <%=render partial: 'perfil_signed_not', layout: 'perfil_signed_not'%>
  <% end %>
</div>