.container-sig_up_user{
    position: absolute;
    margin-top: 15%;
    margin-left: 42%;
    width: 27%;
    height: 45%;
    padding-top: 2%;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 0px 0px rgba(63, 63, 68, 0.05);
}
.container-register-user{
  //  background-color: black;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 0px 0px rgba(63, 63, 68, 0.05);
    
    border-radius: 5px;}
.new_user{
        width: 100%;
}
.field{
    margin-bottom: 4%;
    margin-top: 4%;
}
.actions{
    margin-left: 27%;
    width: 49%;
    background: #EE4380;
    border-radius: 5px;
}
input{
    width: -webkit-fill-available;
}
.sign_in-user{
    position: absolute;
    margin-top: 12%;
    margin-left: 41%;
}