<div class="container_hug">
   <div class="container_exit_hug">
      <%= image_tag 'Vector.png',:class=>"exit" %>
   </div>

   <article class="article">
    <h1 class="text-ways-to-recognize">Formas de reconocer a Salvador</h1>
   </article>
       <div class="circle-hug">
                <%= image_tag 'Ilus.png', :class=>"ilug-image" %>
       </div>

      <div class="container_count_seconds">
       <p class="hug_of">Abrazo de:<span class="seconds">0S</span></p>
      </div>
      <div class="container-text-while">
        <p>Mientras mas tiempo preciones mayor será el abrazo.</p>
      </div>
      <div class="container-following">
        <p class="following">Siguiente</p>
      </div>
</div>