<!--
<div class="thanks-finish">
   <%= image_tag 'thanks.png', :class=>"image-thanks-finish" %>
   <div class="container-text-thanks-finish">
       <p class="text-thanks-finish">Gracias!.</p>
   </div>
</div>-->