@media screen and(min-width:300px){
.container-forgot-password-body{
    position: absolute;
    width: 100%;
    background: #F8F8F8;
    height: 100%;
}

.container-forgot-password{
    padding: 5%;
    margin-top: 10%;
    margin-left: 35%;
    width: 30%;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 0px 0px rgba(63, 63, 68, 0.05);
    border-radius: 5px;
}

.field-forgot-password{
    width: 72%;
    margin-left: 15%;
    margin-bottom: 5%;
}
.actions-forgot-password{
    margin-left: 34%;
    width: 30%;
}

.forgot-your-password-text{
    margin-left: 15%
}
.links-redirect-forgot{    margin-left: 15%;
}
}