@media screen and(min-width:300px){
   .container-forgot-password-body{
    position: absolute;
    width: 100%;
    background: #F8F8F8;
    height: 100%;
    } 
    .container-forgot-password{
        padding: 5%;
        margin-top: 35%;
        margin-left: 0%;
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 0px 0px rgba(63, 63, 68, 0.05);
        border-radius: 5px;
    }
    .actions-forgot-password{
        margin-left: 17%;
        width: 61%;
    }
    .field-forgot-password{
    width: 72%;
    margin-left: 15%;
    margin-bottom: 5%;
    }
    .forgot-your-password-text{
        margin-left: 15%
    }
    .links-redirect-forgot{margin-left: 15%;}
}
@media screen and(min-width:400px){
    .container-forgot-password{
        margin-top: 17%;
        margin-left: 10%;
        width: 80%;
    }
    .actions-forgot-password{
        margin-left: 15%;
        width: 87%;
    }
}
@media screen and(min-width:500px){
    .actions-forgot-password{width: 72%;}
}
@media screen and(min-width:600px){
    .actions-forgot-password{width: 61%;}
}
@media screen and(min-width:700px){
    .actions-forgot-password{width: 54%;}
}
@media screen and(min-width:800px){
    .actions-forgot-password{
        margin-left: 30%;
        width: 47%;
    }
}
@media screen and(min-width:900px){
    .actions-forgot-password{
        margin-left: 36%;
        width: 39%;
    }
}
@media screen and(min-width:300px){
/*

.container-forgot-password{
    padding: 5%;
    margin-top: 10%;
    margin-left: 35%;
    width: 30%;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 0px 0px rgba(63, 63, 68, 0.05);
    border-radius: 5px;
}*/

/*
.actions-forgot-password{
    margin-left: 34%;
    width: 30%;
}*/


}