@media screen and(min-width:300px){
.container-sig_up_user{
    padding: 2%;
    position: absolute;
    margin-top: 49%;
    margin-left: 18%;
    width: 67%;
    height: 45%;
    padding-top: 2%;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 0px 0px rgba(63, 63, 68, 0.05);
}
.container-register-user{
  //  background-color: black;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 0px 0px rgba(63, 63, 68, 0.05);
    
    border-radius: 5px;}
.new_user{
        width: 100%;
}
.field{
    margin-bottom: 4%;
    margin-top: 4%;
}
.actions{
    margin-left: 27%;
    width: 49%;
    background: #EE4380;
    border-radius: 5px;
}
input{
    width: -webkit-fill-available;
}
.sign_in-user{
    position: absolute;
    margin-top: 36%;
    margin-left: 19%;
}

}
@media screen and(min-width:700px){
    .sign_in-user{
        margin-top: 24%;
    }
    .container-sig_up_user{
        margin-top: 30%;
    }
}
@media screen and(min-width:1000px){
    .container-sig_up_user{
        padding: 2%;
        position: absolute;
        margin-top: 15%;
        margin-left: 32%;
        width: 50%; 
    }
    .sign_in-user{
        margin-top: 12%;
        margin-left: 32%;    
    }
    .container-register-user{
      //  background-color: black;
        background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 0px 0px rgba(63, 63, 68, 0.05);
        
        border-radius: 5px;}
    .new_user{
            width: 100%;
    }
    .field{
        margin-bottom: 4%;
        margin-top: 4%;
    }
    .actions{
        margin-left: 27%;
        width: 49%;
        background: #EE4380;
        border-radius: 5px;
    }
    input{
        width: -webkit-fill-available;
    }
    .sign_in-user{
        position: absolute;
        margin-top: 12%;
        margin-left: 41%;
    }
}